<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
        >
    <testsuites>
        <testsuite name="translations">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="2048M"/>
        <const name="BASEPATH" value="UNKNOWN"/>
    </php>
</phpunit>